:root{
    --color-veryPaleBlue : hsl(225, 100%, 98%);
    --color-desaturatedBlue :hsl(224, 23%, 55%);
    --color-darkBlue:hsl(223, 47%, 23%);
    --color-paleBlue : hsl(225, 100%, 94%);
    --color-brightBlue :  hsl(245, 75%, 52%);
}

body{
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--color-paleBlue);
    background-repeat:no-repeat;
    font-size: 1rem;

   display: grid;
   place-items: center ;
}
/* Styles for Order Summary Card */
.sub-card{
    overflow: hidden;
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;
}

.sub-card__container{
    display: grid;
    place-items: center ;
    gap : 1.5rem;
    margin : 1.5rem;
}

.sub-card__summary{
    text-align: center;
    font-weight: 900;
    margin : 0 1rem;
}
.sub-card__summary p {
    margin-top: 1rem;
    font-weight: 300;
    color: var(--color-desaturatedBlue);
}
